#hero-banner {
    background-image: url("../assets/Aluve_16x9-7_1950x.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-right: 1.5em;
    margin-bottom: 1em;
}

#banner-inner-title,
#banner-inner-subtitle {
    text-align: right;
    font-weight: bolder;
}

#product-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-container {
    margin: 2em;
    width: max-content;
    border-radius: 1em;
    padding: 1em;
    background-color: var(--accent-background);
    cursor: pointer;
}

.product-container:hover {
    background-color: var(--accent-color2);
}

.product-image {
    aspect-ratio: 3 / 2;
    width: 300px;
    display: block;
    border: dashed 2px var(--accent-color);
    border-radius: 1em;
}
