#profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    padding-block: 2em;
    padding-inline: 5em;
}

#profile-email {
    color: var(--accent-color3);
}

#profile-address {
    color: var(--accent-color3);
}

#logout-button {
    display: inline-block;
}

#profile-address-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
}

#profile-address-container  * {
    margin-block: 0.5em;
}
