@font-face {
    font-family: NeuzitOfficeSRPro-Regular;
    src: url("../assets/NeuzeitOfficeSRPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: NeuzitOfficeSR-Bold;
    src: url("../assets/NeuzeitOfficeSR-Bold.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    --accent-color: rgb(45, 169, 45);
    --accent-color2: rgb(29, 109, 29);
    --accent-color3: rgb(72, 128, 64);
    --negative-color: rgb(255, 34, 34);
    --text-color: black;
    --text-color2: rgb(40, 40, 40);
    --text-color3: rgba(120, 120, 120, 0.3);
    --text-color-opposite: white;
    --accent-background: rgba(31, 111, 31, 0.336);
    --font-regular: NeuzitOfficeSRPro-Regular;
    --font-bold: NeuzitOfficeSR-Bold;
    font-family: var(--font-regular);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    padding-right: 0.5em;
}

a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
    color: var(--text-color);
    margin-inline: 0.5em;
    cursor: pointer;
}

footer {
    height: 17em;
    background-color: var(--accent-color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1em;
}

button {
    padding: 0.75em;
    background-color: var(--accent-color2);
    border: none;
    color: var(--text-color-opposite);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 300ms linear;
}

button:hover {
    background-color: var(--accent-color);
}

a::after {
    position: absolute;
    content: "";
    bottom: -0.25em;
    left: 0;
    width: 0;
    height: 0.25em;
    background-color: var(--accent-color);
    transition: width 150ms ease-in-out;
    border-radius: 5em;
}

a:hover::after,
a:active::after,
a:focus::after {
    width: 100%;
}

a.active-link::after {
    position: absolute;
    content: "";
    bottom: -0.25em;
    left: 0;
    width: 100%;
    height: 0.25em;
    background-color: var(--accent-color);
    border-radius: 5em;
}

.cart-item-count {
    position: absolute; 
    top: -0.25em;
    right: -0.25em;
    aspect-ratio: 1;
    width: 2ch;
    border-radius: 100%;
    text-align: center;
    background-color: var(--accent-color);
    font-size: smaller;
}

#site-nav-bar {
    font-family: var(--font-bold);
    display: flex;
    height: 15vh;
    width: 100vw;
    align-items: center;
    padding: 0.5em;
    justify-content: space-between;
    overflow: hidden;
}

#site-nav {
    flex-grow: 1;
    text-align: left;
    padding: .5em;
    margin-inline: 2em;
}

#user-links {
    padding: .25em;
    width: max-content;
    display: flex;
    align-items: center;
    position: relative;
}

#home-link {
    all: unset;
    cursor: pointer;
    width: 400px;
    transition: filter 250ms ease-in-out;
}

#home-link:hover {
    filter: drop-shadow(-2px 3px 3px var(--accent-color2));
}

#home-link:hover::after,
#home-link:active::after,
#home-link:focus::after {
    width: 0%;
}

#company-info {
    display: flex;
    height: 100%;
}

#company-info h2, #company-info p {
    width: max-content;
    margin-block: 1em;
}

#dark-mode-toggle {
    height: max-content;
    margin: 0;
}

.search-bar {
    position: absolute;
    width: 0px;
    opacity: 0;
    transition: all 350ms ease-in-out;
    top: 15%;
    left: 15%;
    line-height: 1.5em;
    margin: 0;
}

.search-bar-show {
    width: 150%;
    left: -150%;
    opacity: 1;
}

.product-link::after {
    all: unset;
}

.forest-logo-header {
    width: inherit;
    transform: translateY(-25%);
}

.forest-logo-footer {
    display: block;
    height: 100%;
    width: 100%;
}

.info-container {
    grid-area: info;
    height: min-content;
    padding-inline: 2em;
}

/* Scrollbar */

*::-webkit-scrollbar {
    display: block;
    width: 0.5em;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    border-radius: 2em;
    margin-block: 0.2em;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-background);
    border-radius: 2em;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:active {
    background-color: gray;
}

/* */

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}

.dark-mode {
    color: white;
    --text-color: white;
    --text-color2: rgb(180, 180, 180);
    --text-color3: rgba(55, 55, 55, 0.3);
    --text-color-opposite: black;
    --accent-color2: var(--accent-color);
    background-color: rgb(20, 20, 20);
}

.bi {
    font-size: x-large;
}
