main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, var(--text-color-opposite), 90%, var(--text-color3));
    width: 100vw;
}

input, label {
    margin-block: 0.5em;
}

input {
    margin-bottom: 2em;
    width: 30em;
}

button {
    display: block;
    margin: 0 auto;
}

#cart-title {
    align-self: flex-start;
    justify-self: start;
    padding-inline: 1em;
}

#cart-item-container {
    display: block;
    width: 100%;
}

#total-price {
    display: block;
    align-self: flex-end;
    margin-inline: 2em;
    font-family: var(--font-regular);
}

#checkout-container {
    display: flex;
    align-self: flex-end;
    margin-inline: 2em;
    margin-bottom: 2em;
    margin-top: 0;
}

#checkout-container * {
    margin-inline: 0.75em;
}

#continue-shopping::after {
    all: unset;
}

#continue-shopping:hover::after,
#continue-shopping:active::after,
#continue-shopping:focus::after {
    width: unset;
}

#err-msg {
    color: var(--negative-color)
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    border-radius: 1em;
    padding: 1em;
    transition: background-color 250ms ease-in-out;
}

.cart-product:hover {
    background-color: var(--accent-color2);
}

.cart-image {
    aspect-ratio: 3 / 2;
    width: 150px;
    display: inline-block;
    border-radius: 1em;
    object-fit: cover;
}

.cart-product-name {
    flex-grow: 1;
    margin-left: 1em;
}

.product-count {
    width: 8ch;
    height: max-content;
    margin-inline: 1em;
    margin-block: 0;
}

.cart-product-price {
    margin-inline: 0.5em;
    padding: 0.125em;
}

.remove-item-button {
    width: max-content;
    height: max-content;
    margin: 0;
}

.bi.bi-trash {
    font-size: medium;
    color: var(--negative-color);
}